[Unit]
Description=Merit Input Automation Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/auto-key-in-merit
Environment="PATH=/var/www/auto-key-in-merit/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/var/www/auto-key-in-merit/start.sh
Restart=always
StandardOutput=append:/var/log/merit/app.out.log
StandardError=append:/var/log/merit/app.err.log

[Install]
WantedBy=multi-user.target 